{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}
{% block header %}
    {% if not app.user %}
        <h1> Wanna Go Out ? </h1>
    {% else %}
        <h1> Hello {{ app.user.pseudo }} !</h1>
    {% endif %}
{% endblock %}