@font-face {
    font-family: Vesper, sans-serif;
    src: url("/public/fonts/Vesper/Vesper-BoldMedium.otf") format("opentype");
}

a {
    color: inherit;
    text-decoration: none;

}

a:hover{
    color: #a71d5d;
}

body{
    min-height: 100%;
}

button{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
    border-radius: 30px;
}

footer {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img{
    height: 70px;
    rotation: 330deg;
}

input{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
    border-radius: 30px;
}

img{
    max-width: 100%;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
}

nav li{
    margin-right: 1rem;
}

/* id */



/* class */

.flash{
    padding:20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success{
    background-color: #88B04B;
}

.headmess{
    font-family: Vesper,sans-serif;
    display: flex;
    justify-content: center;
}

.mainimg{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
}

.mainlog{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
    border-radius: 30px;
}
/*///////*/
.flex-container{
    width: 80%;
    margin: 0 auto;
    flex-flow: column wrap;
}

label{
    display: block;
    padding: 1% 0 0.5% 0;
}

input, textarea, select{
    box-sizing: border-box;
    width: 15%;
    min-width: 200px;
    max-width: 50%;
}

button{
    margin: 1.5% 0;
}


