{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ooops an error occurred</h1>

    <p>
        <a href="{{ path('main_home') }}">Click to return to the homepage</a>.
    </p>
{% endblock %}

{% block title %}
    {{ parent() }} | Ooops
{% endblock %}