<nav>
    <ul>
        <li>
            <a href="#">
                <img src="{{ asset('img/logo-GO.png') }}" alt="Go Out Logo">
            </a>
        </li>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
    </ul>
</nav>