<nav>
    <ul>
        <li>
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('img/logo-GO.png') }}" alt="Go Out Logo">
            </a>
        </li>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('goOut_add') }}" title="Add an Event">Add an Event</a></li>
    </ul>
</nav>