<h1>Register</h1>

{{ form_start(manageProfileForm) }}
        {{ form_widget(manageProfileForm) }}
<div>
    <p style="background-color: #88B04B">My Photo {# TODO upload photo function #}</p>
</div>

<button type="submit" class="btn">Register</button>
<button type="button" class="btn">
    <a href="{{ path('main_home') }}">Cancel</a>
</button>
{{ form_end(manageProfileForm) }}