<h1>Register</h1>

{{ form_start(manageProfileForm) }}
    {{ form_widget(manageProfileForm) }}

    <div class="btn-container">
        <button type="submit" class="btn">Register</button>
        <button type="button" class="btn">
            <a href="{{ path('main_home') }}">Cancel</a>
        </button>
    </div>
{{ form_end(manageProfileForm) }}